# ===== IntelliJ IDEA =====
.idea/
*.iml
*.ipr
*.iws

# ===== Java =====
*.class

# ===== Build output =====
/out/
/target/
build/

# ===== Logs =====
*.log

# ===== Package files =====
*.jar
*.war
*.ear
*.nar

# ===== JVM crash logs =====
hs_err_pid*
replay_pid*

# ===== OS files =====
.DS_Store
Thumbs.db
